<footer class="footer" id="footer">
  <div class="footer-inner container">
    <div class="footer-contacts">
      <div class="footer-contacts-inner">
        <a
          class="footer-contacts-logo link"
          href="#hero"
          aria-label="go to top"
        >
          <svg class="footer-contacts-icon" width="123" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer-adress-inner">
        <address class="footer-adress">
          <ul class="footer-contacts-list list">
            <li class="footer-contacts-item">
              <a class="footer-contacts-link link" href="tel:380665438912"
                >UK: +38 066 543 8912</a
              >
            </li>
            <li class="footer-contacts-item">
              <a
                class="footer-contacts-link link"
                href="https://maps.app.goo.gl/yw367ProsbsTDbcC6"
                target="_blank"
                rel="noopener noreferrer"
                >Ukraine, Kyiv</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>

    <div class="footer-soc-menu-box">
      <div class="footer-socials-box">
        <ul class="footer-socials-list list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-link link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>

          <li class="footer-socials-item">
            <a
              class="footer-socials-link link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook</a
            >
          </li>

          <li class="footer-socials-item">
            <a
              class="footer-socials-link link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >Youtube</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-menu">
        <ul class="footer-menu-list list">
          <li class="footer-menu-item">
            <a class="footer-menu-link link" href="#about">About us</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link link" href="#courses">Our courses</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link link" href="#mentors">Our mentors</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link link" href="#footer">Contacts</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-reg">
      <form class="footer-reg-form">
        <div class="footer-input-inner">
          <input
            class="footer-input"
            id="footer-reg"
            type="email"
            name="email"
            required
            minlength="10"
            maxlength="64"
            placeholder="Enter your email"
            pattern="^[a-zA-Z0-9]{3,}[._-]?[a-zA-Z0-9]+@[a-zA-Z0-9.-]+[._-]?[a-zA-Z0-9]{2,}$"
          />
        </div>
        <button
          id="submitButton"
          class="footer-button-reg"
          type="submit"
          aria-label="go"
        >
          Go
        </button>
      </form>
    </div>

    <div class="footer-privacy">
      <ul class="footer-privacy-list list">
        <li class="footer-privacy-item">
          <a
            class="footer-privacy-text"
            href="https://www.privacypolicies.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Privacy Policy <br />Public Offering Agreement
          </a>
        </li>
        <li class="footer-privacy-item">
          <a
            class="footer-privacy-text"
            href="https://www.privacypolicies.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            2023 Focus Frame<br />&copy; All rights reserved
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
