<header class="container header">
  <div class="header-wrapper-menu">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="focus frame logo">
        <svg class="nav-svg-logo" width="127" height="20">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li><a class="nav-link" href="#about">ABOUT US</a></li>
        <li><a class="nav-link" href="#courses">OUR COURSES</a></li>
        <li><a class="nav-link" href="#mentors">OUR MENTORS</a></li>
        <li><a class="nav-link" href="#reviews">REVIEWS</a></li>
        <li><a class="nav-link" href="#footer">CONTACTS</a></li>
      </ul>
    </nav>
    <div class="button-wrapper">
      <a class="svg-link-camera" href="#signup" aria-label="sign up"
        ><svg class="header-svg-camera" width="16" height="16">
          <use class="svg-camera" href="/img/icons.svg#icon-camera"></use>
        </svg>
      </a>
      <button
        type="button"
        class="header-button-burger-menu js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="opem nenu"
      >
        <svg class="header-svg-burger" width="32" height="22">
          <use href="/img/icons.svg#icon-nav-burger-btn"></use>
        </svg>
      </button>
    </div>
  </div>
  <a href="#signup" class="sing-up sing-up-button-text" aria-label="sign up"
    >Sign up</a
  >
</header>
