<div class="backdrop js-menu-container" id="mobile-menu">
  <div class="menu-container">
    <button class="menu-toggle js-close-menu" aria-label="close">
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav>
      <ul class="mobile-menu">
        <li class="mobile-list-item">
          <a class="mobile-nav-link text-on-black-image" href="#about"
            >ABOUT US</a
          >
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link text-on-black-image" href="#courses"
            >OUR COURSES</a
          >
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link text-on-black-image" href="#mentors"
            >OUR MENTORS</a
          >
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link text-on-black-image" href="#reviews"
            >REVIEWS</a
          >
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link text-on-black-image" href="#footer"
            >CONTACTS</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
