<section class="section section-reviews" id="reviews">
  <div class="container container-reviews">
    <h3 class="reviews-head">Reviews</h3>
    <ul class="reviews-boxes">
      <li class="reviews-box">
        <div class="reviews-user-box">
          <div class="reviews-user-information">
            <picture>
              <source
                srcset="
                  /img/reviews/reviews-abraham-1x.webp 1x,
                  /img/reviews/reviews-abraham-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /img/reviews/reviews-abraham-1x.jpg 1x,
                  /img/reviews/reviews-abraham-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="reviews-user-img"
                src="/img/reviews/reviews-abraham-1x.jpg"
                alt="Abraham Baker"
                height="56"
                width="56"
              />
            </picture>
            <div>
              <h3 class="revievs-user-name">Abraham Baker</h3>
              <p class="revievs-user-position">Student</p>
            </div>
          </div>
          <div class="reviews-icons">
            <ul class="reviews-stars-list">
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon-none-fill" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <p class="reviews-comment">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="reviews-box reviews-desktop">
        <div class="reviews-user-box">
          <div class="reviews-user-information">
            <picture>
              <source
                srcset="
                  /img/reviews/reviews-amanda-1x.webp 1x,
                  /img/reviews/reviews-amanda-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /img/reviews/reviews-amanda-1x.jpg 1x,
                  /img/reviews/reviews-amanda-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="reviews-user-img"
                src="/img/reviews/reviews-amanda-1x.jpg"
                alt="Abraham Baker"
                height="56"
                width="56"
              />
            </picture>
            <div>
              <h3 class="revievs-user-name">Amanda Lowery</h3>
              <p class="revievs-user-position">Student</p>
            </div>
          </div>
          <div class="reviews-icons">
            <ul class="reviews-stars-list">
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon-none-fill" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <p class="reviews-comment">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
