<section class="section sign-up" id="signup">
  <div class="container">
    <div class="container-sign-up">
      <!-- Зміст секції -->
      <div class="contact-sign-up">
        <h2 class="title-sign-up">
          Sign <span class="title-span-sign-up">Up</span>
        </h2>
        <p class="text-sign-up">
          Please use the form below to contact us. Enter your name, email, and
          message and we'll get back to you shortly.
        </p>

        <form class="form-sign-up">
          <input
            class="input-sign-up"
            id="user-subscribe-name"
            type="text"
            pattern="[A-Za-z]{2,20}"
            name="modal-name"
            placeholder="Enter your name"
            required
          />
          <input
            class="input-sign-up"
            id="user-subscribe-email"
            type="email"
            name="email"
            minlength="10"
            maxlength="64"
            placeholder="Enter your email"
            pattern="^[a-zA-Z0-9]{3,}[._-]?[a-zA-Z0-9]+@[a-zA-Z0-9.-]+[._-]?[a-zA-Z0-9]{2,}$"
            required
          />
          <textarea
            class="textarea-sign-up"
            name="user-comment"
            id="user-comment"
            placeholder="Message"
            cols="30"
            rows="10"
          ></textarea>
          <button class="button-sign-up" type="submit" aria-label="send">
            SEND
          </button>

          <div class="checkbox-sign-up">
            <p class="text-policy-sign-up">
              By clicking on &ldquo;Send&rdquo; button, you agree to our
              <a
                class="policy-sign-up"
                href="https://www.privacypolicies.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Privacy Policy</a
              >, and allow Promodo to use this information for marketing
              purposes.
            </p>
          </div>
        </form>
      </div>
      <div class="bloc-sign-up">
        <ul class="bloc-list-sign-up">
          <li class="list-sign-up-camera">
            <picture class="img-sign-up-camera">
              <source
                type="image/webp"
                srcset="
                  /img/sigmup/webp/isabella-mendes-lrgkulxjcka-unsplash-11128.webp    1x,
                  /img/sigmup/webp/isabella-mendes-lrgkulxjcka-unsplash-11280-2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/png"
                srcset="
                  /img/sigmup/jpeg/isabella-mendes-unsplash-1.png    1x,
                  /img/sigmup/jpeg/isabella-mendes-unsplash-1@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/webp"
                srcset="
                  /img/sigmup/webp/isabella-mendes-lrgkulxjcka-unsplash-11440.webp    1x,
                  /img/sigmup/webp/isabella-mendes-lrgkulxjcka-unsplash-11440-2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                type="image/png"
                srcset="
                  /img/sigmup/jpeg/isabella-mendes-lRgkUlxJCkA-unsplash11440.png    1x,
                  /img/sigmup/jpeg/isabella-mendes-lRgkUlxJCkA-unsplash11440@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                class="sign-up-camera"
                src="/img/sigmup/jpeg/isabella-mendes-unsplash-1.png"
                width="500"
                alt="isabella-mendes"
              />
            </picture>
          </li>
          <li class="list-sign-up-video">
            <picture class="img-sign-up-video">
              <source
                type="image/webp"
                srcset="
                  /img/sigmup/webp/video-entry-product-11280.webp    1x,
                  /img/sigmup/webp/video-entry-product-11280-2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/png"
                srcset="
                  /img/sigmup/jpeg/video-entry-product-1@2x.png     1x,
                  /img/sigmup/jpeg/video-entry-product-1@2x.png.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/webp"
                srcset="
                  /img/sigmup/webp/video-entry-product-11440.webp    1x,
                  /img/sigmup/webp/video-entry-product-11440-2x.webp 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                type="image/png"
                srcset="
                  /img/sigmup/jpeg/video-entry-product11440.png    1x,
                  /img/sigmup/jpeg/video-entry-product11440@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="/img/sigmup/jpeg/video-entry-product-1.png"
                width="500"
                alt="isabella-mendes"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
