.vertisement-block {
  overflow: hidden;
  text-transform: uppercase;
  background-color: #121212;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
}

.vertisement__inner {
  display: flex;
  white-space: nowrap;
}

.vertisement__line {
  flex-shrink: 0;
  margin: 0;
  padding: 20px 0px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: vertisementinner;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #bea69e;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.run {
  color: #fff;
}

@keyframes vertisementinner {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .vertisement__line {
    padding: 24px 0;
    font-size: 40px;
    line-height: 1.25;
    animation-duration: 30s;
  }
}

@media screen and (min-width: 1280px) {
  .vertisement__line {
    font-size: 59px;
    line-height: 1.08;
    animation-duration: 35s;
  }
}

@media screen and (min-width: 1440px) {
}
