@font-face {
  font-weight: 400;
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
  font-display: swap;
}
