.hero-section {
  padding: 90px 20px 80px 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url('/img/hero/graphic-mob.png');
  background-position: center center;
  background-image: image-set(
    url('/img/hero/graphic-mob.webp') 1x,
    url('/img/hero/graphic-mob@2x.webp') 2x,
    url('/img/hero/graphic-mob.png') 1x,
    url('/img/hero/graphic-mob@2x.png') 2x
  );
}
.hero-main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-div {
  border-radius: 30px;
  background-color: #1d1d1d;
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-main {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}
.hero-header-span {
  color: #bea69e;
  font-weight: 400;
  font-style: italic;
}
.hero-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
.hero-students {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero-students-reviews {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.arrow-svg {
  fill: #fff;
}
.hero-students-list {
  display: flex;
  position: relative;
  width: 109px;
  height: 44px;
}
.hero-students-li {
  max-width: 44px;
  max-height: 44px;
}

.girl-1-picture-set {
  max-width: 44px;
  max-height: 44px;
  position: absolute;
  z-index: 2;
}
.boy-picture-set {
  max-width: 44px;
  max-height: 44px;
  position: absolute;
  transform: translateX(32px);
  z-index: 1;
}
.girl-2-picture-set {
  max-width: 44px;
  max-height: 44px;
  position: absolute;
  transform: translateX(64px);
  z-index: 0;
}
.hero-text-arrow .hero-text {
  width: 67px;
}
.hero-text-arrow {
  display: flex;
  align-items: center;
}

.star {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #bea69e;
}
.star-svg {
  fill: none;
  stroke: #121212;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-reviews {
  display: flex;
  align-items: top;
  gap: 12px;
}
.hero-reviews-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 44px;
}
.hero-reviews-p {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: -0.56px;
}
.hero-reviews-number {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
}
.hero-reviews-text {
  margin-right: auto;
}
.cameraboy-picture {
  width: 259px;
  height: 314px;
}

@media screen and (min-width: 375px) {
  .hero-div {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 120px;
    padding-bottom: 100px;
    background-image: url('/img/hero/graphic-tab.png');
    background-image: image-set(
      url('/img/hero/graphic-tab.webp') 1x,
      url('/img/hero/graphic-tab@2x.webp') 2x,
      url('/img/hero/graphic-tab.png') 1x,
      url('/img/hero/graphic-tab@2x.png') 2x
    );
  }
  .hero-div {
    width: 704px;
    padding: 64px 155px 0 32px;
  }
  .header-main {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.04em;
  }
  .hero-text {
    width: 418px;
  }
  .hero-text-arrow .hero-text {
    width: 82px;
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: -0.64px;
  }
  .hero-students {
    flex-direction: row;
    gap: 12px;
  }
  .hero-students-list {
    display: flex;
    position: relative;
    width: 137px;
    height: 54px;
  }
  .girl-1-picture-set {
    max-width: 54px;
    max-height: 54px;
  }
  .boy-picture-set {
    max-width: 54px;
    max-height: 54px;
    transform: translateX(40px);
  }
  .girl-2-picture-set {
    max-width: 54px;
    max-height: 54px;
    transform: translateX(83px);
  }
  .hero-students-li {
    max-width: 54px;
    max-height: 54px;
  }
  .hero-text-arrow {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .star {
    width: 50px;
    height: 50px;
  }
  .hero-reviews-text {
    gap: 8px;
    height: 50px;
  }
  .hero-reviews-p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.64px;
  }
  .cameraboy-picture {
    width: 393px;
    height: 434px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 160px;
    padding-bottom: 150px;
    background-image: url('/img/hero/graphic-desc.png');
    background-image: image-set(
      url('/img/hero/graphic-desk.webp') 1x,
      url('/img/hero/graphic-desk@2x.webp') 2x,
      url('/img/hero/graphic-desk.png') 1x,
      url('/img/hero/graphic-desk@2x.png') 2x
    );
  }
  .hero-div {
    width: 1080px;
    padding: 80px 50px 0 50px;
    flex-direction: row;
    gap: 20px;
  }
  .hero-students-reviews {
    margin-bottom: 50px;
  }
  .hero-main-content {
    gap: 136px;
  }
  .header-main {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -0.04em;
    width: 563px;
  }
  .cameraboy-picture {
    width: 397px;
    height: 520px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url('/img/hero/graphic-desk-width.png');
    background-image: image-set(
      url('/img/hero/graphic-desk-width.webp') 1x,
      url('/img/hero/graphic-desk-width@2x.webp') 2x,
      url('/img/hero/graphic-desk-width.png') 1x,
      url('/img/hero/graphic-desk-width@2x.png') 2x
    );
  }
  .hero-div {
    width: 1240px;
    padding-right: 100px;
    justify-content: space-between;
  }
}
