@media screen and (max-width: 320px) {
  .reviews-desktop {
    display: none;
  }
}

.section-reviews {
  margin-bottom: 80px;
}
.reviews-head {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  margin-left: 0;
}
.reviews-box {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  max-width: 335px;
}
.reviews-desktop {
  display: none;
}
.reviews-user-box {
  /* display: flex;
  gap: 10px; */
  margin-bottom: 20px;
}
.reviews-user-information {
  display: flex;
  gap: 10px;
}
.reviews-user-info {
  padding-top: 6px;
}
.reviews-user-img {
  height: 56px;
  margin-bottom: 4px;
}
.revievs-user-name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}
.revievs-user-position {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
.reviews-stars-list {
  display: flex;
  gap: 4px;
  align-items: center;
}
.reviews-icons {
  display: block;
  margin-left: 64px;
}

.reviews-icon {
  fill: rgba(190, 166, 158, 1);
}
.reviews-list-element {
  fill: rgba(65, 65, 65, 1);
}
.reviews-comment {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 100%;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    margin-bottom: 100px;
  }
  .reviews-head {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
  }
  .revievs-user-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
  .revievs-user-position {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 0;
  }
  .reviews-box {
    max-width: 640px;
  }
  .reviews-comment {
    max-width: 100%;
  }
  .reviews-comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .reviews-user-box {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .reviews-user-img {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .reviews-icons {
    /* position: absolute;
    top: 0;
    right: 0; */
  }
  .reviews-user-information {
    display: flex;
  }
  .revievs-user-position {
    display: block;
  }
  .reviews-user-img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .section-reviews {
    margin-bottom: 150px;
  }

  .reviews-head {
    margin-bottom: 50px;
  }
  .reviews-desktop {
    display: block;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    max-width: 530px;
  }
  .reviews-box {
    display: block;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    max-width: 530px;
  }
  .reviews-boxes {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-box {
    min-width: 610px;
  }
}
